.cursor {
  position: fixed;
  width: 12px;
  height: 12px;
  transform: translate(-50%, -50%);
  background: rgba(220, 20, 60, 0.6);
  border-radius: 50%;
  border: 1px solid rgb(85, 18, 30);
  pointer-events: none;
  transition: height 0.5s ease, width 0.5s ease;
  z-index: 100000;
}

.hover,
.hover-gallery {
  width: 80px;
  height: 80px;
  background: crimson !important;
  mix-blend-mode: difference;
  border: 0px !important;
}

.hover-gallery {
  width: 144px;
  height: 144px;
}

@keyframes click {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}