@use "./partials/variables.scss" as *;
@use "./partials/foundation.scss";
@use "./partials/animation.scss";
@use "./partials/navigation.scss";
@use "./partials/decorations.scss";
@use "./partials/mobile.scss";

$transition-img: all 0.5s;

.gallery {
    display: flex;
    margin: auto;
    padding: 4rem;
    align-items: center;
    box-sizing: border-box;
    max-width: 1200px;

    .grid-gallery {
        position: relative;
        padding: 2rem;
        display: grid;
        margin: auto;
        gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        background: rgba(255, 255, 255, 0.5);
        border-width: 3px 1px;
        border-color: $main_colour;
        border-style: solid;
        border-radius: 10px;

        :hover {
            border-top-left-radius: 0rem;
            border-bottom-right-radius: 0rem;
        }

        a {
            display: flex;
            align-self: center;
            align-items: center;
            overflow: hidden;
            border-top-left-radius: 6rem;
            border-bottom-right-radius: 6rem;
            transition: $transition-img;

            img {
                width: 100%;
                transition: $transition-img;
                isolation: isolate;
            }

            :hover {
                transform: scale(1.025);
                transition: $transition-img;
            }
        }
    }
}