@use "./partials/variables.scss" as *;
@use "./partials/foundation.scss";
@use "./partials/animation.scss";
@use "./partials/navigation.scss";
@use "./partials/decorations.scss";
@use "./partials/mobile.scss";

$transition-img: all 0.5s;

.gallery {
    display: flex;
    margin: auto;
    padding: 4rem;
    align-items: center;
    box-sizing: border-box;
    max-width: 1800px;

    .grid-gallery {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding: 2rem 2rem 1rem 2rem;
        margin: auto;
        background: rgba(255, 255, 255, 0.8);
        border-width: 3px 1px;
        border-color: $main_colour;
        border-style: solid;
        border-radius: 10px;

        a:hover {
            border-top-left-radius: 0rem;
            border-bottom-right-radius: 0rem;

            img {
                transform: scale(1.005);
                transition: $transition-img;
            }
        }

        a {
            display: flex;
            overflow: hidden;
            border-top-left-radius: 4rem;
            border-bottom-right-radius: 4rem;
            transition: $transition-img;
            margin-bottom: 1rem;

            img {
                width: 100%;
                transition: $transition-img;
                isolation: isolate;
                margin: auto;
                vertical-align: middle;
            }
        }
    }
}

.column {
    flex: 45%;
    max-width: 50%;
    margin: 0 0.5rem;
}