html {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  scrollbar-color: crimson black;
  text-decoration: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth !important;
}
html ::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "SourceHanSerifKR";
}

@font-face {
  font-family: "SourceHanSerif";
  src: url(../fonts/sourcehanserif/SourceHanSerifKR-Light.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Norwester";
  src: url(../fonts/norwester/norwester.otf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Railway";
  src: url(../fonts/railway/Railway.otf);
  font-style: normal;
  font-weight: normal;
}
.gear_1,
.gear_2 {
  position: fixed;
  z-index: -100;
  background-image: url(../images/Cogwheel.webp);
  animation: rotate-TL 360s linear infinite;
  opacity: 0.1;
}

.gear_1 {
  top: -1024px;
  left: -1024px;
  width: 2048px;
  height: 2048px;
  background-size: 2048px;
}

.gear_2 {
  bottom: -512px;
  right: -512px;
  width: 1024px;
  height: 1024px;
  background-size: 1024px;
}

@keyframes rotate-TL {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(390deg);
  }
}
body:before {
  animation: grain 8s steps(10) infinite;
  background-image: url(../images/grain.webp);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.4;
  position: fixed;
  top: -110%;
  width: 300%;
  z-index: -50;
  overflow-y: hidden;
}

@keyframes grain {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
nav {
  position: relative;
  background-color: crimson;
  display: grid;
  align-items: center;
  padding: 0 3rem;
  height: 84px;
  grid-template-areas: "a b b";
  grid-template-columns: repeat(3, minmax(0, 1fr));
  z-index: 100;
}

.nav-left {
  grid-area: a;
  justify-content: center;
}
.nav-left .logo-button {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  margin-left: -20px;
}
.nav-left .logo-button :hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}
.nav-left .logo {
  max-width: 70px;
  width: 100%;
  transition: all 0.5s;
}
.nav-left .pp {
  font-family: "Railway";
  margin: 0;
  text-align: center;
  font-size: 14px;
}
.nav-left .title {
  margin: auto;
  text-align: center;
  font-size: 36px;
  word-break: normal;
}

.nav-right {
  grid-area: b;
}

.navigation-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  font-family: "Norwester";
  color: white;
  width: 100%;
  height: 100%;
}
.navigation-wrapper .navigation-buttons-wrapper {
  position: relative;
  display: grid;
  grid-template-areas: "a a";
  /*Number of buttons*/
  width: 100%;
  height: 100%;
}
.navigation-wrapper .navigation-buttons-wrapper a {
  display: flex;
  justify-content: center;
  position: relative;
  text-decoration: none;
  transition: 200ms cubic-bezier(0.65, 0.05, 0.36, 1);
  color: white;
  min-width: 200px;
  border-left: 1px solid transparent;
  -o-border-image: linear-gradient(to bottom, black, transparent, black);
     border-image: linear-gradient(to bottom, black, transparent, black);
  border-image-slice: 1;
}
.navigation-wrapper .navigation-buttons-wrapper a:hover {
  background-color: black;
  transition: background-color 0s;
}
.navigation-wrapper .navigation-buttons-wrapper a:hover p {
  color: crimson;
  filter: none;
  text-decoration: underline !important;
}
.navigation-wrapper .navigation-buttons-wrapper .button-active p {
  filter: drop-shadow(0px 0px 5px orange) drop-shadow(0px 0px 6px rgba(255, 179, 0, 0.5)) drop-shadow(0px 0px 25px rgba(255, 255, 255, 0.4));
}

.nav-button {
  font-size: 48px;
  margin: auto;
}

footer {
  padding: 10px 3rem;
  height: 28px;
  position: relative;
  width: 100%;
  z-index: 100;
  background-color: crimson;
  align-self: center;
}

.copyright {
  color: white;
  font-family: "SourceHanSerif";
  font-size: 18px;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

/*Additional borders*/
nav {
  border-bottom: 3px solid transparent;
  -o-border-image: linear-gradient(to right, transparent, black, transparent);
     border-image: linear-gradient(to right, transparent, black, transparent);
  border-image-slice: 1;
}

footer {
  border-top: 3px solid transparent;
  -o-border-image: linear-gradient(to right, transparent, black, transparent);
     border-image: linear-gradient(to right, transparent, black, transparent);
  border-image-slice: 1;
}

/*
footer::before {
    content: "";
    position: absolute;
    background-color: rgba(rgba(255, 254, 161), 0.5);
    width: 70vw;
    height: 20px;
    margin-inline: auto;
    clip-path: polygon(60vw 0, 70vw 60px, 0px 60px, 10vw 0);
    left: 0;
    right: 0;
    bottom: 51px;
}
    */
dec {
  position: absolute;
  width: 0.9rem;
  background-color: black;
  z-index: 1000;
}

.dec_left_1 {
  left: 2.1rem;
}

.dec_left_2 {
  left: 0.35rem;
  width: 1.4rem;
}

.dec_right_1 {
  right: 2.1rem;
}

.dec_right_2 {
  right: 0.35rem;
  width: 1.4rem;
}

.dec_n {
  top: 0;
  height: 91px;
}

.dec_f {
  bottom: 0;
  height: 55px;
}

.dec_n_long::before,
.dec_n_short::before,
.dec_f_long::before,
.dec_f_short::before {
  content: "";
  position: inherit;
  width: 100%;
}

.dec_n_long::before {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  height: 30rem;
  top: 91px;
}

.dec_n_short::before {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  height: 20rem;
  top: 91px;
}

.dec_f_long::before {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  height: 30rem;
  bottom: 55px;
}

.dec_f_short::before {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  height: 20rem;
  bottom: 55px;
}

@media only screen and (max-width: 1600px) {
  nav {
    grid-template-areas: "a b" !important;
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}
@media only screen and (max-width: 1000px) {
  .gear_1,
  .gear_2 {
    background-image: url(../images/Cogwheel_smol.webp) !important;
    animation: rotate-TL 180s linear infinite !important;
  }
  .gear_1 {
    top: -75vw !important;
    left: -75vw !important;
    width: 150vw !important;
    height: 150vw !important;
    background-size: 150vw !important;
  }
  .gear_2 {
    bottom: -50vw !important;
    right: -50vw !important;
    width: 100vw !important;
    height: 100vw !important;
    background-size: 100vw !important;
  }
  body:before,
  .cursor,
  .title,
  .nav-left {
    display: none !important;
  }
  nav {
    grid-template-areas: "b b" !important;
  }
  .navigation-wrapper,
  .navigation-buttons-wrapper {
    width: 100% !important;
  }
  .navigation-wrapper a,
  .navigation-buttons-wrapper a {
    width: 100% !important;
  }
  .text-area,
  .emoticon {
    font-size: 24px !important;
  }
  .grid {
    gap: 2rem !important;
    grid-template-areas: "a" "b" "c" !important;
  }
  .sm-grid {
    grid-template-areas: "a b" "c d" !important;
    padding: 1.5rem !important;
    gap: 1.5rem !important;
  }
  .sm-grid div a {
    margin: 0 !important;
  }
  .img-gear {
    top: 50rem !important;
    left: 15rem;
    width: 50% !important;
  }
}
@media only screen and (max-width: 830px) {
  .sm-grid {
    grid-template-areas: "a a" "b b" "c d" !important;
  }
}
@media only screen and (max-width: 600px) {
  .sm-grid {
    grid-template-areas: "a" "b" "c" "d" !important;
  }
}
/*----------Gallery----------*/
@media only screen and (max-width: 2210px) {
  .container {
    max-width: 1290px !important;
  }
}
@media only screen and (max-width: 1387px) {
  .gallery-link,
  .refresher-line-wrapper {
    max-width: 1400px !important;
  }
  .gallery-link {
    transition: border-radius 0.5s, transform 0s !important;
  }
  .container {
    background: none !important;
    border: none !important;
  }
}
/*----------Misc----------*/
@media only screen and (min-width: 1000px) {
  * {
    cursor: none !important;
  }
}
.grid {
  position: relative;
  display: grid;
  grid-template-areas: "a a" "b c";
  max-width: 70rem;
  width: 100%;
  padding: 4rem;
  gap: 1rem;
  justify-content: stretch;
  align-items: stretch;
  box-sizing: border-box;
  margin: auto;
}

element {
  position: relative;
  text-align: center;
  width: 100%;
  border-width: 3px 1px;
  border-color: crimson;
  border-style: solid;
  border-radius: 10px;
}

.heading-area,
.text-area,
.links-area {
  background-color: rgba(255, 255, 255, 0.8);
}

.heading-area {
  grid-area: a;
  font-family: "Norwester";
  padding: 24px 12px;
  font-size: 60px;
  color: black;
  box-sizing: border-box;
}

.text-area {
  grid-area: b;
  font-family: "SourceHanSerif";
  font-size: 20px;
  text-align: justify;
  color: black;
  padding: 1rem 0;
  box-sizing: border-box;
  align-content: center;
  line-height: 1.8rem;
}
.text-area p {
  padding: 0 2rem;
  text-indent: 25px;
}
.text-area .center {
  text-align: center !important;
  text-indent: 0;
}

.emoticon {
  line-height: 2;
  font-weight: 100;
  font-style: normal;
  font-size: 22px;
}

.links-area {
  box-sizing: border-box;
}

hr {
  height: 2px;
  background: linear-gradient(to right, rgba(220, 20, 60, 0), crimson, rgba(220, 20, 60, 0));
  width: 90%;
  border: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.sm-grid {
  position: relative;
  display: grid;
  width: 100%;
  padding: 1.5rem;
  gap: 1.5rem;
  box-sizing: border-box;
  grid-template-areas: "a a" "b b" "c d";
}
.sm-grid div :hover {
  background-color: crimson;
  border-color: black;
  border-radius: 30px;
}
.sm-grid div a:hover img {
  background-color: transparent;
  transform: scale(1.05);
  transition: all 0.5s;
}
.sm-grid div a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px 1px 4px 1px;
  border-color: crimson;
  border-style: solid;
  border-radius: 10px;
  transition: 200ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.smg-a {
  grid-area: a;
}

.smg-b {
  grid-area: b;
}

.smg-c {
  grid-area: c;
}

.links {
  min-width: 100px;
  min-height: 100px;
  max-width: 150px;
  max-height: 150px;
  height: 100%;
  padding: 1.5rem;
  transition: all 0.5s;
}