@use "./partials/variables.scss" as *;
@use "./partials/foundation.scss";
@use "./partials/animation.scss";
@use "./partials/navigation.scss";
@use "./partials/decorations.scss";
@use "./partials/mobile.scss";

.grid {
    position: relative;
    display: grid;
    grid-template-areas:
        "a a"
        "b c";
    max-width: 70rem;
    width: 100%;
    padding: 4rem;
    gap: 1rem;
    justify-content: stretch;
    align-items: stretch;
    box-sizing: border-box;
    margin: auto;
}

element {
    position: relative;
    text-align: center;
    width: 100%;
    border-width: 3px 1px;
    border-color: crimson;
    border-style: solid;
    border-radius: 10px;
}

.heading-area,
.text-area,
.links-area {
    background-color: rgba(255, 255, 255, 0.8);
}

.heading-area {
    grid-area: a;
    font-family: 'Norwester';
    padding: 24px 12px;
    font-size: 60px;
    color: black;
    box-sizing: border-box;
}

.text-area {
    grid-area: b;
    font-family: 'SourceHanSerif';
    font-size: 20px;
    text-align: justify;
    color: black;
    padding: 1rem 0;
    box-sizing: border-box;
    align-content: center;
    line-height: 1.8rem;

    p {
        padding: 0 2rem;
        text-indent: 25px;
    }

    .center {
        text-align: center !important;
        text-indent: 0;
    }
}

.emoticon {
    line-height: 2;
    font-weight: 100;
    font-style: normal;
    font-size: 22px;
}

.links-area {
    box-sizing: border-box;
}

hr {
    height: 2px;
    background: linear-gradient(to right, rgba(220, 20, 60, 0), crimson, rgba(220, 20, 60, 0));
    width: 90%;
    border: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.sm-grid {
    position: relative;
    display: grid;
    width: 100%;
    padding: 1.5rem;
    gap: 1.5rem;
    box-sizing: border-box;
    grid-template-areas:
        "a a"
        "b b"
        "c d";

    div {

        :hover {
            background-color: $main_colour;
            border-color: black;
            border-radius: 30px;
        }

        a:hover {
            img {
                background-color: transparent;
                transform: scale(1.05);
                transition: all 0.5s;
            }
        }


        a {
            display: flex;
            align-items: center;
            justify-content: center;
            border-width: 1px 1px 4px 1px;
            border-color: crimson;
            border-style: solid;
            border-radius: 10px;
            transition: $transition;
        }
    }
}

.smg-a {
    grid-area: a;
}

.smg-b {
    grid-area: b;
}

.smg-c {
    grid-area: c;
}

.links {
    min-width: 100px;
    min-height: 100px;
    max-width: 150px;
    max-height: 150px;
    height: 100%;
    padding: 1.5rem;
    transition: all 0.5s;
}