.gear_1,
.gear_2 {
    position: fixed;
    z-index: -100;
    background-image: url(../images/Cogwheel.webp);
    animation: rotate-TL 360s linear infinite;
    opacity: 0.1;
}

.gear_1 {
    top: -1024px;
    left: -1024px;
    width: 2048px;
    height: 2048px;
    background-size: 2048px;
}

.gear_2 {
    bottom: -512px;
    right: -512px;
    width: 1024px;
    height: 1024px;
    background-size: 1024px;
}

@keyframes rotate-TL {
    0% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(390deg);
    }
}



body {
    &:before {
        animation: grain 8s steps(10) infinite;
        background-image: url(../images/grain.webp);
        content: "";
        height: 300%;
        left: -50%;
        opacity: 0.4;
        position: fixed;
        top: -110%;
        width: 300%;
        z-index: -50;
    }

    &.no-scroll {
        overflow-y: hidden;
    }

}

@keyframes grain {

    0%,
    100% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, 5%)
    }

    30% {
        transform: translate(7%, -25%)
    }

    40% {
        transform: translate(-5%, 25%)
    }

    50% {
        transform: translate(-15%, 10%)
    }

    60% {
        transform: translate(15%, 0%)
    }

    70% {
        transform: translate(0%, 15%)
    }

    80% {
        transform: translate(3%, 35%)
    }

    90% {
        transform: translate(-10%, 10%)
    }
}