@use "./variables.scss" as *;

dec {
    position: absolute;
    width: $width;
    background-color: black;
    z-index: 1000;
}

.dec_left_1 {
    left: $distance;

}

.dec_left_2 {
    left: $distance - $margin;
    width: $width + 0.5rem;
}

.dec_right_1 {
    right: $distance;
}

.dec_right_2 {
    right: $distance - $margin;
    width: $width + 0.5rem;
}

.dec_n {
    top: 0;
    height: 91px;
}

.dec_f {
    bottom: 0;
    height: 55px;
}

$dec_gradient: rgb(0, 0, 0, 0.2), rgba(0, 0, 0, 0);

.dec_n_long::before,
.dec_n_short::before,
.dec_f_long::before,
.dec_f_short::before {
    content: "";
    position: inherit;
    width: 100%;
}

.dec_n_long::before {
    background-image: linear-gradient(to bottom, $dec_gradient);
    height: 30rem;
    top: 91px;
}

.dec_n_short::before {
    background-image: linear-gradient(to bottom, $dec_gradient);
    height: 20rem;
    top: 91px;
}

.dec_f_long::before {
    background-image: linear-gradient(to top, $dec_gradient);
    height: 30rem;
    bottom: 55px;
}

.dec_f_short::before {
    background-image: linear-gradient(to top, $dec_gradient);
    height: 20rem;
    bottom: 55px;
}