@use "./variables.scss" as *;

@media only screen and (max-width: 1500px) {

    nav {
        grid-template-areas:
            "a b" !important;
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important
    }
}


@media only screen and (min-width: 1000px) {
    * {
        cursor: none !important;
    }
}


@media only screen and (max-width: 1000px) {

    .div-gear,
    .img-gear,
    body:before,
    .cursor,
    .title,
    .nav-left {
        display: none !important;
    }

    nav {
        grid-template-areas:
            "b b" !important;
    }

    .navigation-wrapper,
    .navigation-buttons-wrapper {
        width: 100% !important;

        a {
            width: 100% !important;
        }
    }

    .navigation-wrapper {
        .navigation-buttons-wrapper {
            a {
                background-color: transparent !important;
            }

            a:hover {
                background-color: $secondary_colour !important;

            }
        }
    }

    .text-area,
    .emoticon {
        font-size: 24px !important;
    }

    .grid {
        gap: 2rem !important;
        grid-template-areas:
            "a"
            "b"
            "c" !important;
    }

    .sm-grid {
        grid-template-areas:
            "a b" "c d" !important;
        padding: 1.5rem !important;
        gap: 1.5rem !important;

        div {
            a {
                margin: 0 !important;
            }
        }
    }

    .img-gear {
        top: 50rem !important;
        left: 15rem;
        width: 50% !important;
    }

    /*Gallery*/

    .gallery {
        padding: 5rem !important;
    }

    .grid-gallery a {
        margin-bottom: 2rem !important;

    }


    .column {
        flex: 100% !important;
        max-width: 100% !important;
    }

}

@media only screen and (max-width: 830px) {

    .sm-grid {
        grid-template-areas:
            "a a" "b b" "c d" !important;
    }
}


@media only screen and (max-width: 600px) {

    .sm-grid {
        grid-template-areas:
            "a" "b" "c" "d" !important;
    }
}