@use "./variables.scss" as *;

nav {
    position: relative;
    background-color: $main_colour;
    display: grid;
    align-items: center;
    padding: 0 $distance+$width;
    height: 84px;
    grid-template-areas:
        "a b b";
    grid-template-columns: repeat(3, minmax(0, 1fr));
    z-index: 100;
}

.nav-left {
    grid-area: a;
    justify-content: center;

    .logo-button {
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 10px;
        margin-left: -20px;
        transition: transform 0.5s;

        &:hover {
            transform: scale(0.95);
            transition: transform 0.5s;
        }
    }

    .logo {
        max-height: 65px;
        height: 100%;
        transition: all 0.5s;
    }

    .title {
        margin: auto;
        text-align: center;
        font-size: 36px;
        word-break: normal;
    }
}

.nav-right {
    grid-area: b
}

.navigation-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Norwester';
    color: $secondary_colour;
    width: 100%;
    height: 100%;

    .navigation-buttons-wrapper {
        position: relative;
        display: grid;
        grid-template-areas:
            "a a";
        /*Number of buttons*/
        width: 100%;
        height: 100%;

        a {
            display: flex;
            justify-content: center;
            position: relative;
            text-decoration: none;
            transition: 200ms cubic-bezier(.65, .05, .36, 1);
            color: $secondary_colour;
            min-width: 200px;
            border-left: 2px solid transparent;
            border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
            border-image-slice: 1;

            &:hover {
                background-color: black;
                transition: background-color 0s;

                p {
                    color: crimson;
                    filter: drop-shadow(0px 0px 5px rgba(220, 20, 60, 0.6));
                    text-decoration: underline !important;
                }
            }
        }

        .button-active {

            &::before,
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
                height: 35%;
                aspect-ratio: 1/1;
            }

            &::before {
                left: 0;
                clip-path: polygon(0% 0%, 100% 100%, 0% 100%)
            }

            &::after {
                right: -1px;
                clip-path: polygon(0% 100%, 100% 0%, 100% 100%)
            }

            p {
                filter: drop-shadow(0px 0px 5px orange) drop-shadow(0px 0px 6px rgba(255, 179, 0, 0.5)) drop-shadow(0px 0px 25px rgba(255, 255, 255, 0.4))
            }
        }

    }
}

.nav-button {
    font-size: 48px;
    margin: auto;
}

footer {
    display: flex;
    padding: 10px $distance+$width;
    height: 28px;
    position: relative;
    width: 100%;
    z-index: 100;
    background-color: $main_colour;
    align-self: center;
    align-items: center;
}

.footer-text {
    color: white;
    font-family: 'SourceHanSerif';
    font-size: 16px;
    font-weight: bold;
    margin: auto;
    text-align: center;
}

/*Additional borders*/

nav,
footer {
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
    border-image-slice: 1;
}

nav {
    border-bottom: 3px solid transparent;
}

footer {
    border-top: 3px solid transparent;
}